<Router AppAssembly="@typeof(App).Assembly">
  <Found Context="routeData">
    <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout)"/>
    <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
  </Found>
  <NotFound>
    <PageTitle>Not found</PageTitle>
    <LayoutView Layout="@typeof(Layout)">
      <Card Header="@head">
        <p>Sorry, there's nothing at this address.</p>
      </Card>
    </LayoutView>
  </NotFound>
</Router>

@code {

  public RenderFragment? head = @<Typography Uppercase Bold>123</Typography>;
}
