<Router AppAssembly="@typeof(App).Assembly">
  <Found Context="routeData">
    <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout)"/>
    <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
  </Found>
  <NotFound>
    <PageTitle>Not found</PageTitle>
    <LayoutView Layout="@typeof(Layout)">
      <Card Header="@header">
        <Typography>
          Sorry, Page of given address does not exist.
        </Typography>
      </Card>
    </LayoutView>
  </NotFound>
</Router>

@code {
  private readonly RenderFragment? header = @<Title>Page Not-Found</Title>;
}
