@using pw_2022.Shared.Types
@inject NavigationManager NavManager

<NavLink href="@To">
  <div class="flex w-full h-full">
    <span class="@Cx(selected, "h-full w-1 rounded-r transition-all")"></span>
    <div class="@Cx(hovered, "flex items-center w-full justify-between gap-2 hover:font-bold transition-all rounded px-1 h-12")">
      @if (Icon is not null) {
        <Icon Type="@Icon"/>
      }
      <Typography Overflow>@ChildContent</Typography>
    </div>
  </div>
</NavLink>

@code {
  [Parameter, EditorRequired]
  public string To { get; set; } = null!;

  [Parameter]
  public RenderFragment? ChildContent { get; set; }

  [Parameter]
  public IconType? Icon { get; set; }


  private string? selected => NavManager.Uri.Contains(To) ? Color.Secondary["bg", 5] : null;
  private string hovered => $"hover:{Color.Secondary["bg", 2]}";
}
