<div Title="@Title" @onclick="OnClick" class="@Cx(Size.Height, Contour["text", Inverted ? 0 : 8], "aspect-square", Class)">
  <div class="@Cx(interactiveContainer, "rounded")">
    <svg
      class="@Cx(@Color.Accent["fill", 1], interactiveImage)"
      xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
      @Type.Component
    </svg>
  </div>
</div>

@code {
  [Parameter, EditorRequired]
  public IconType Type { get; set; } = null!;
  [Parameter]
  public Size Size { get; set; } = Size.Md;
  [Parameter]
  public Color Color { get; set; } = Color.Primary;
  [Parameter]
  public Color Contour { get; set; } = Color.Shade;
  [Parameter]
  public bool Inverted { get; set; }
  [Parameter]
  public bool Interactive { get; set; }
  private string? interactiveContainer => Interactive ? $"hover:{Color["bg", Inverted ? 7 : 3]} transition-all cursor-pointer" : null;
  private string? interactiveImage => Interactive ? $"hover:{Color.Accent["fill", 3]} transition-all" : null;

  [Parameter]
  public string? Title { get; set; }

  [Parameter]
  public Action OnClick { get; set; } = () => { };

  [Parameter]
  public string? Class { get; set; }
}
