<Router AppAssembly="@typeof(App).Assembly">
  <Found Context="routeData">
    <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout)"/>
    <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
  </Found>
  <NotFound>
    <PageTitle>Not found</PageTitle>
    <LayoutView Layout="@typeof(Layout)">
      <div class="flex items-center justify-center p-40">
        <Card Class="w-[800px]">
          <CardHeader>@header</CardHeader>
          <Typography>
            Sorry, Page of given address does not exist.
          </Typography>
        </Card>
      </div>
    </LayoutView>
  </NotFound>
</Router>

@code {
  private readonly RenderFragment? header = @<Title>Page Not-Found</Title>;
}
